body{
	background-image: url('grid.png');
	text-align: center;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color:   #ffffff;
	font-size: 50px;
}

h3{
	font-family: 'Metrophobic', Arial, serif; 
	font-weight: 400; 
}

ul{
	list-style-type:none;
}

li{
	display: inline;
}

.restBox{
	border-width: 7px;
	border-color:  #99bbff;
	background-image: url('brick.png');
	border-bottom: 5%;
}

.menuBox{
	border-width: 7px;
	border-color:  #99bbff;
	background-image: url('bcg3.png');
}

.login{  
	margin-top: 1%;
}

.edit{
	background-image: url('edit.jpg');	
}

.list-group{
	margin-top: 5%;
	background-color: transparent;
}

.list-group-item{
	background-color: transparent;
	font-family: 'Metrophobic', Arial, serif; 
	font-weight: 800; 
	font-size: 16px;
}

.page-header{
	margin-top: 0px;
}

.btn{
	font-family: 'Metrophobic', Arial, serif; 
	font-weight: 600; 
}

.mainForm{
	background-image: url('paper.png');
}