<!-- extend base layout -->
{% extends "subBase.html" %}
{% block content %}
		<div class="row">
			<div class="col-md-12">
				<h3>Delete Category</h3>
				<form action="{{ url_for('deleteCategory',category_name = category.name)}}" method = 'POST' role="form">
					<div class="form-group">
					 	<label for="name">Are you sure that you wan to delete category <strong>{{category.name}}</strong> ?</label>
					</div>
					  	<button type="submit" ,value="Delete" class="btn btn-default">Continue deleting</button>
				</form>
				<a class="btn btn-danger" href="{{ url_for('categoryItems', category_name=category.name)}}" role="button">Cancel</a>
			</div>
		</div>
{% endblock %}

