<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
		</br>
		<div class="row">
			<div class="col-md-12">
				{% with messages = get_flashed_messages() %}
		        {% if messages %}
		            <ul>
		            {% for message in messages%}
		            <div class="alert alert-success">
						{{message}}
					</div>
		            {% endfor %}
		            </ul>
		        {% endif %}
		            {% endwith %}
		        <a class="btn btn-primary btn-sm" href='{{url_for('allCategories') }}' role="button">Go back to all cateories</a>
		        {% if login_session.user_id == category_user_id and login_session.username %}
		        <a class="btn btn-info btn-sm" href='{{url_for('editCategory', category_name = category_name) }}' role="button">Edit category</a>
				<a class="btn btn-danger btn-sm" href='{{url_for('deleteCategory', category_name = category_name) }}' role="button">Delete category</a>
				{% endif %}
				{% if login_session.username %}
				<a class="btn btn-success btn-sm" href='{{url_for('newItemInCategory', category_name = category_name) }}' role="button">Add items to the category</a>
				{% endif %}
				</br>
				</br>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-12 restBox">
					<div class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-3">
							<h3>Categories</h3>
							<div class="list-group">
								{% for c in categories %}
									{% if c.name == category_name %}
										 <a href='{{url_for('categoryItems', category_name = c.name) }}' class="list-group-item active categories">{{c.name}}</a>
									{% else %}
										<a href='{{url_for('categoryItems', category_name = c.name) }}' class="list-group-item categories">{{c.name}}</a>
									{% endif %}
								{% endfor %}
								{% if login_session.username %}
								<a class="btn btn-success btn-sm" href='{{url_for('newCategory') }}' role="button">Add a new category</a>
								{% endif %}
							</div>
						</div>
						<div class="col-md-8">
							<h3>Items in Category <strong>{{category_name}}</strong> ({{numOfItems}})</h3>
							{% for i in items %}
							<p class="list-group-item">
								<a class="categoryInITem" href='{{url_for('categoryItemDetails',category_name=category_name, item_name=i.name) }}'>
						      		{{i.name}}
						    	</a>
						    </p>
							{% endfor %}
						</div>
				</div>
			</div>	
		</div>
	{% endblock %}