<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
		</br>
		<div class="row">
			<div class="col-md-12">
				{% with messages = get_flashed_messages() %}
		        {% if messages %}
		            <ul>
		            {% for message in messages%}
		            <div class="alert alert-success">
						{{message}}
					</div>
		            {% endfor %}
		            </ul>
		        {% endif %}
		            {% endwith %}
		    </div>
		</div>
		<div class="row">
			<div class="col-md-12 restBox">
					<div class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-3">
							<h3>Categories</h3>
							<div class="list-group">
								{% for category in categories %}
								 <a href='{{url_for('categoryItems', category_id = category_id) }}' class="list-group-item categories">{{category.name}}</a>
								 {% endfor %}
							</div>
								<a class="btn btn-success btn-sm" href='{{url_for('newCategory') }}' role="button">Add a new category</a>
							</br>
							</br>
						</div>
						<div class="col-md-8">
							<h3>Item - {{items.name}}</h3>
							<p class="list-group-item">{{items.description}}</p>
							<p class="list-group-item">(Created at {{items.timestmp}})</p>
							<a class="btn btn-info btn-sm" href='{{url_for('editCategoryItem', category_id = category_id, item_id = items.id) }}' role="button">Edit</a>
							<a class="btn btn-danger btn-sm" href='{{url_for('deleteCategoryItem', category_id = category_id, item_id = items.id) }}' role="button" >Delete</a>
							<a  class="btn btn-primary btn-sm" href='{{url_for('categoryItems', category_id = category_id) }}' role="button">Go back to all items</a>
						</div>
				</div>
			</div>	
		</div>
	{% endblock %}