<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
		</br>
		<div class="row">
			<div class="col-md-12">
				{% with messages = get_flashed_messages() %}
		        {% if messages %}
		            <ul>
		            {% for message in messages%}
		            <div class="alert alert-success">
						{{message}}
					</div>
		            {% endfor %}
		            </ul>
		        {% endif %}
		            {% endwith %}
		        <a class="btn btn-primary btn-sm" href='{{url_for('allCategories') }}' role="button">Go back to all cateories</a>
		        <a class="btn btn-info btn-sm" href='{{url_for('editCategory', category_id = category_id) }}' role="button">Edit category</a>
				<a class="btn btn-danger btn-sm" href='{{url_for('deleteCategory', category_id = category_id) }}' role="button">Delete category</a>
				<a class="btn btn-success btn-sm" href='{{url_for('newItemInCategory', category_id = category_id) }}' role="button">Add items to the category</a>
				</br>
				</br>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-12 restBox">
					<div class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-3">
							<h3>Categories</h3>
							<div class="list-group">
								{% for category in categories %}
								 <a href='{{url_for('categoryItems', category_id = category.id) }}' class="list-group-item categories">{{category.name}}</a>
								 {% endfor %}
							</div>
								<a class="btn btn-success btn-sm" href='{{url_for('newCategory') }}' role="button">Add a new category</a>
							</br>
							</br>
						</div>
						<div class="col-md-8">
							{% for c in category %}
							<h3>Items in Category <strong>{{c}}</strong> ({{numOfItems}})</h3>
							{% endfor %}
							{% for i in items %}
							<p class="list-group-item">
								<a class="categoryInITem" href='{{url_for('categoryItemDetails',category_id=category_id, item_id=i.id) }}'>
						      		{{i.name}}
						    	</a>
						    </p>
							{% endfor %}
						</div>
				</div>
			</div>	
		</div>
	{% endblock %}